<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/application.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/ir_black.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= yield %>

</body>
</html>
